body{
    background-color: rgb(252, 119, 137);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.logo{
    width: 220px;
    height: 90px;
    padding-bottom: 50px;
    margin: 1%;
}

.logo2{
    width: 220px;
    height: 90px;
    padding-bottom: 50px;
}

.parte1{
    align-items: center;
}

.parte2{
    display: flex;
    align-items: center;
    margin: 0% 5% 0% 5%;
}

.parte4{
    display: flex;
    justify-content: space-evenly;
}

.text{
    font-size: x-small;
}

.text1{
    margin-right: 5%;
    margin-left: 5%;
}

.text2{
    margin-right: 5%;
    margin-left: 0%;
    font-size: 50px;
}

.text4{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 50px;
}

.frutas{
    width: 250px;
    height: 125px;
    margin-left: 5%;
}

.cupcake{
    width: 500px;
    height: 400px;
    margin: 0% 0% 1% 7%;
}

hr.new {
  margin: 2%;
  border: 0;
  height: 1px;
  border-top: 1px solid rgb(179, 50, 93);
  padding: 0;
}

#circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(139, 49, 61);;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.icones{
    display: flex;
    width: 30px;
    height: 30px;
}

.icones2{
    display: flex;
    width: 40px;
    height: 30px;
}

.letraP{
    padding: 0px;
    margin: 0px;
    font-size: small;
    text-align: center;
}

.titulo{
    text-align: center;
}

.produtos{
    display: flex;
}

.aba {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    top: 20px;
    left: 45px;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
}

.opcoes {
    height: 100%;
    width: 50%;
    position: absolute;
    background-color:rgb(179, 50, 93);
    color: #ffffff;
    transition: 0.5s ease;
    transform: translateX(-105%);
}

input:checked~.opcoes {
    transform: translateX(0);
    box-shadow: 0 0 4px #ffffff;
}

.opc {
    font-weight: 400;
    font-size: 14px;
    color: #fefefe;
    padding: 0 0 20px;
    margin: 0px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.tituloOpc {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #fefefe;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

#textOpc{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}