body{
    background-color: rgb(252, 119, 137);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.parte1{
    align-items: center;
}

.parte2{
    display: flex;
    align-items: center;
    margin: 0% 0% 1% 5%;
}

.text{
    font-size: x-small;
}

.text1{
    margin-right: 5%;
}

.text2{
    margin-left: 5%;
}

.frutas{
    width: 250px;
    height: 125px;
    margin-left: 5%;
}

.cupcake{
    width: 220px;
    height: 250px;
    margin: 0% 7% 1% 7%;
}