body{
    background-color: rgb(252, 119, 137);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.logo{
    width: 220px;
    height: 90px;
    padding-bottom: 50px;
    margin: 1%;
}

.parte1{
    align-items: center;
}

.parte2{
    display: flex;
    align-items: center;
    margin: 0% 5% 0% 5%;
}

.text{
    font-size: x-small;
}

.text1{
    margin-right: 5%;
    margin-left: 5%;
}

.text2{
    margin-right: 5%;
    margin-left:   5%;
}

.frutas{
    width: 250px;
    height: 125px;
    margin-left: 5%;
}

.cupcake{
    width: 500px;
    height: 400px;
    margin: 0% 0% 1% 7%;
}

hr.new1 {
   margin: 80px;
   border: 0;
   height: 1px;
   border-top: 1px solid rgb(179, 50, 93);
   padding: 0;
}